{% extends 'base.html' %}


{% block content %}
<h1 class="h2">Duties report</h1>

    {% comment %} TODO: create a conditional to check whether any work has been recorded {% endcomment %}
    {% if duties_daily_sum %}
    {{ duties_daily_sum|json_script:"duties-daily-sum-data" }}
    {{ duties_daily_sum_max|json_script:"duties-daily-sum-max-data" }}
    {{ duties_type_sum|json_script:"duties-by-type-sum-data" }}
    {{ duties_caregiver_role_sum|json_script:"duties-by-caregiver-role-sum-data" }}
    

    <div class="row">
        <div id="duties-daily-sum-chart" style="width: 100%;height:350px;"></div>
    </div>

    <div class="row">
        <div class="col">
            <div id="duties-by-type-sum-chart" style="width: 100%;height:350px;"></div>
        </div>

        <div class="col">
            <div id="duties-by-caregiver-role-sum-chart" style="width: 100%;height:350px;"></div>
        </div>
    </div>
    {% else %}
        <p>No work has been recorded yet.</p>
    {% endif %}
{% endblock content %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){    
        var dutiesDailySumChartElement = document.getElementById('duties-daily-sum-chart');
        var dutiesDailySumChart = echarts.init(dutiesDailySumChartElement);
        var dutiesDailySumChartOptions;

        // TODO: determine how to dynamically select the chart year
        // E.g. with the current year or based on user selection
        const chartYear = '2022';

        // Get daily sum analytics data
        const dutiesDailySumText = document.getElementById("duties-daily-sum-data").textContent;
        const dutiesDailySumData = JSON.parse(dutiesDailySumText);
        const dutiesDailySumMaxText = document.getElementById("duties-daily-sum-max-data").textContent;
        const dutiesDailySumMaxData = JSON.parse(dutiesDailySumMaxText);

        
        dutiesDailySumChartOptions = {
            title: {
                top: 30,
                left: 'center',
                text: 'Daily Caregiving Minutes'
            },
            tooltip: {},
            visualMap: {
                min: 0,
                max: dutiesDailySumMaxData,
                type: 'piecewise',
                orient: 'horizontal',
                left: 'center',
                top: 65
            },
            calendar: {
                dayLabel: {
                    firstDay: 1,
                    // TODO: enable Finnish locale
                    // https://echarts.apache.org/en/option.html#calendar.dayLabel.nameMap
                    nameMap: 'en',
                },
                monthLabel: {
                    // TODO: enable Finnish locale
                    // https://echarts.apache.org/en/option.html#calendar.monthLabel.nameMap
                    nameMap: 'en',
                },
                top: 120,
                left: 30,
                right: 30,
                cellSize: ['auto', 14],
                // TODO: determine how best to choose the data range
                // e.g. data min/max?
                // Note: this may affect the chart layout,
                // which currently has a hard-coded height
                range: chartYear,
                itemStyle: {
                    borderWidth: 0.5
                },
                yearLabel: { show: true }
            },
            dataset: {
                dimensions: ['date', 'total_minutes'],
                source: dutiesDailySumData,
            },
            series: {
                type: 'heatmap',
                coordinateSystem: 'calendar',
            }
        };

        dutiesDailySumChart.setOption(dutiesDailySumChartOptions);
    });
</script>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){    
    var dutiesByTypeSumChartElement = document.getElementById('duties-by-type-sum-chart');
    var dutiesByTypeSumChart = echarts.init(dutiesByTypeSumChartElement);
    var dutiesByTypeSumChartOptions;

    // Get duties summed by type analytics data
    const dutiesByTypeSumText = document.getElementById('duties-by-type-sum-data').textContent;
    const dutiesByTypeSumData = JSON.parse(dutiesByTypeSumText);

    console.log(dutiesByTypeSumData)
    dutiesByTypeSumChartOptions = {
        dataset: {
            dimensions: ['type__name', 'total_minutes'],
            source: dutiesByTypeSumData,
        },
        title: {
            top: 30,
            left: 'center',
            text: 'Caregiving minutes by type of work'
        },
        xAxis: {
          type: 'category',
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            type: 'bar'
          }
        ]
      };
      
      dutiesByTypeSumChart.setOption(dutiesByTypeSumChartOptions);
});
</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){    
        var dutiesByCaregiverRoleSumChartElement = document.getElementById('duties-by-caregiver-role-sum-chart');
        var dutiesByCaregiverRoleSumChart = echarts.init(dutiesByCaregiverRoleSumChartElement);
        var dutiesByCaregiverRoleSumChartOptions;
    
        // Get duties summed by type analytics data
        const dutiesByCaregiverRoleSumText = document.getElementById('duties-by-caregiver-role-sum-data').textContent;
        const dutiesByCaregiverRoleSumData = JSON.parse(dutiesByCaregiverRoleSumText);
    
        console.log(dutiesByCaregiverRoleSumData)
        dutiesByCaregiverRoleSumChartOptions = {
            dataset: {
                dimensions: ['caregiver_role__name', 'total_minutes'],
                source: dutiesByCaregiverRoleSumData,
            },
            title: {
                top: 30,
                left: 'center',
                text: 'Caregiving minutes by caregiver role'
            },
            xAxis: {
              type: 'category',
            },
            yAxis: {
              type: 'value'
            },
            series: [
              {
                type: 'bar'
              }
            ]
          };
          
          dutiesByCaregiverRoleSumChart.setOption(dutiesByCaregiverRoleSumChartOptions);
    });
    </script>
{% endblock extra_js %}
