{% extends 'base.html' %}

{% load i18n %}


{% block content %}
    <h1>
        {{ resident.full_name }}

        <a
            class="btn btn-sm btn-outline-primary"
            href="{% url 'resident-update-view' resident.url_uuid %}"
        >
            {% translate "Edit" %}
        </a>
    </h1>

    <p>
        <strong>{% translate "Activity level" %}:</strong>
        <span class="badge text-bg-{{ resident.activity_level.color_class }} fs-6">
            {{ resident.activity_level.text }}
        </span>
    </p>

    {% if resident.resident_activities.count %}
        <div class="container">
        <!--
            Note: these column dimensions must be specified,
            so that Plotly charts will not overlap.
        -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{ resident_activities_by_date_chart|safe }}
                </div>
            </div>

            <div class="row mt-3 mb-3">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ activity_hours_by_type_chart|safe }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    {{ activity_hours_by_caregiver_role_chart|safe }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
