{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="h2">Work report</h1>

    <!-- only load analytics charts if work has been recorded -->
    {% if work_has_been_recorded %}
        {% include "work/charts.html" %}
    {% else %}
        <p>No work has been recorded yet.</p>
    {% endif %}
{% endblock content %}

{% block extra_js %}
    <!-- only load analytics JS if work has been recorded -->
    {% if work_has_been_recorded %}
        <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>

        <script src="{% static 'js/work-daily-sum-chart.js' %}"></script>

        <script src="{% static 'js/work-by-type-sum-chart.js' %}"></script>

        <script src="{% static 'js/work-by-caregiver-role-sum-chart.js' %}"></script>
    {% endif %}
{% endblock extra_js %}
