{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">

    <style>
        .ts-control {
            border: none;
        }

        .ts-dropdown{
            background-color: #495057;
            color: #ccc;
        }

    /* Home optgroup */
        .ts-dropdown .optgroup-header {
            background-color: #343a40;
            color: #ccc;
            font-weight: bold;
        }

        .ts-dropdown .optgroup .active {
            background-color: #343a40;
            color: #ccc;
        }

        .ts-wrapper .selectmultiple {
            background-color: #495057;
            color: #ccc;
        }

        .ts-wrapper .ts-control {
            background-color: #495057;
            color: #ccc;
        }

        .ts-wrapper.multi .ts-control > div {
            background-color: #343a40;
            color: #ccc;
        }

        .ts-wrapper.multi .ts-control > div.active {
            background-color: #343a40;
            color: #ccc;
        }
    </style>
{% endblock extra_css %}


{% block content %}
    <h1>{% translate "Create Resident Activity" %}</h1>
    <form method="POST" action="" class="form">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">
            {% translate "Save" %}
        </button>
    </form>
{% endblock %}


{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

    <script>
        console.log("hello");
        const settings = {
            plugins: [
                'checkbox_options',
                'no_active_items',
                'remove_button',
            ],
        };
        new TomSelect('#id_residents', settings);
    </script>
{% endblock extra_js %}
