{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{{ home.name }}</h1>

        <p>{% translate "Percent of residents by activity level" %}</p>

        {% include "homes/home_residents_activity_percents.html" with data=home.resident_counts_by_activity_level_chart_data %}

        {% if home.current_residents %}
            <h2 class="mt-3">{% translate "Current Residents" %}</h2>

            <table class="table">
                <caption>{% translate "Table of residents showing current activity status, total activity count, and daily activity indicators for past seven days." %}</caption>
                <tr>
                    <th class="col-2">{% translate "Name" %}</th>
                    <th>{% translate "Activity Level" %}</th>
                    <th class="text-center">{% translate "Total Activities" %}</th>
                    <th>{% translate "Active Days" %}</th>
                    {% for day in home.current_residents_with_recent_activity_metadata.residents.0.recent_activity_days %}
                        <th class="text-center">{{ day.date|date:"D" }}</th> <!-- Show day names -->
                    {% endfor %}
                </tr>
                {% for resident in home.current_residents_with_recent_activity_metadata.residents %}
                    <tr>
                        <td>{{ resident.resident.full_name }}</td>
                        <td>
                            <span class="badge text-bg-{{ resident.resident.activity_level.color_class }}">
                                {{ resident.resident.activity_level.text }}
                            </span>
                        </td>
                        <td class="text-center">{{ resident.total_activity_count|floatformat:"0" }}</td>
                        <td class="text-center">{{ resident.total_active_days }}</td>
                        {% for day in resident.recent_activity_days %}
                            <td class="text-center">
                                {% if day.was_active %}
                                    <i class="bi bi-check-lg text-success"></i>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% include "homes/home_detail_charts.html" %}

        <div class="row">
            <!-- only load analytics charts if work has been recorded -->
            <h2>
                {% translate "Work" %}
            </h2>
            {% if work_has_been_recorded %}
                {% include "homes/home_detail_charts.html" %}
            {% else %}
                <p>{% translate "No work has been recorded yet." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
