{% load l10n %}

<div class="w-full h-4 flex rounded-lg overflow-hidden">
    {% comment %} round item value to nearest integer {% endcomment %}
    {% for item in data %}
        <div
            class="h-full {% if item.activity_level_class == 'success' %}bg-success{% elif item.activity_level_class == 'warning' %}bg-warning{% elif item.activity_level_class == 'danger' %}bg-error{% else %}bg-info{% endif %}"
            style="width: {{ item.value|unlocalize }}%;"
            aria-label="{{ item.activity_level_label }}: {{ item.value|floatformat:'0'}}%"
            title="{{ item.activity_level_label }}: {{ item.value|floatformat:'0' }}%"></div>
    {% endfor %}
</div>
