{% load crispy_forms_tags %}
{% load i18n %}

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            GeriLife Caregiving
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addWorkModal">
                            {% translate "Add work" %}
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'activity-form-view' %}" class="btn btn-outline-primary ms-lg-1 mt-1 mt-lg-0">
                            {% translate "Add activity" %}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'work-report-view' %}" class="nav-link">
                        {% translate "Work Report" %}
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'home-list-view' %}" class="nav-link">
                        {% translate "Homes" %}
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'resident-list-view' %}" class="nav-link">
                        {% translate "Residents" %}
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'preferences-view' %}" class="nav-link">
                        {% translate "Preferences" %}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% include "i18n.html" %}

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{% translate "Log out" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% translate "Log in" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">{% translate "Sign up" %}</a>
                    </li>
                {% endif %}
                  
                <li class="nav-item dropdown">
                    <!-- can refer to i18n.html for dropdown here-->
                    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                        <a id="theme-label">Dark</a>
                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle Theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li>
                            <button type="button" id="light-dropdown" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="true">
                                Light
                            </button>
                        </li>

                        <li>
                            <button type="button" id="dark-dropdown" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="false">
                                Dark
                            </button>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="addWorkModal" tabindex="-1" aria-labelledby="addWorkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addWorkModalLabel">
                    {% translate "Add work" %}
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'work-form-view' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ work_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% translate "Cancel" %}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {% translate "Add work" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

function toggleTheme(theme) {
    const currTheme = document.documentElement.getAttribute('data-bs-theme');
    if (currTheme === theme) return; 

    // changes the attribute of the root element and saves to local storage
    document.documentElement.setAttribute('data-bs-theme', theme);
    localStorage.setItem('theme', theme);

      // changes active label on dropdown
    const btn = document.getElementById('theme-label');
    btn.innerHTML = theme.charAt(0).toUpperCase() + theme.slice(1);
}

// changes the first parameter's class to active, and the second to not active
function changeActiveStatus(dropdown1, dropdown2) {
    dropdown1.setAttribute('class', dropdown1.getAttribute('class') + ' active');
    dropdown2.setAttribute('class', dropdown2.getAttribute('class').replace(' active', ''));
}

let lightMode = document.getElementById('light-dropdown');
let darkMode = document.getElementById('dark-dropdown');

lightMode.addEventListener('click', function() {
    toggleTheme('light');
    changeActiveStatus(lightMode, darkMode);
});

darkMode.addEventListener('click', function() {
    toggleTheme('dark');
    changeActiveStatus(darkMode, lightMode);
});

</script>
