{% load crispy_forms_tags %}
{% load i18n %}

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            GeriLife Caregiving
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addWorkModal">
                            {% translate "Add work" %}
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'resident-activity-form-view' %}" class="btn btn-outline-primary ms-lg-1 mt-1 mt-lg-0">
                            {% translate "Add activity" %}
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'work-report-view' %}" class="nav-link">
                        {% translate "Work Report" %}
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'home-list-view' %}" class="nav-link">
                        {% translate "Homes" %}
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'resident-list-view' %}" class="nav-link">
                        {% translate "Residents" %}
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% include "i18n.html" %}

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{% translate "Log out" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% translate "Log in" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">{% translate "Sign up" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="addWorkModal" tabindex="-1" aria-labelledby="addWorkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addWorkModalLabel">
                    {% translate "Add work" %}
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'work-form-view' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ work_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% translate "Cancel" %}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {% translate "Add work" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
